body{
  background-color: green;
  color: white;
  background: url(../image/pexels.jpeg);
  background-size: auto;
}
/* div.displayNone{
  display: none;
} */
.displayFlex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.webIcon {

  font-size: 32px;
  font-weight: 300;
}
.menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#menuToggle {
  display: none;
}
a.menuItem{
  color: white;
  margin: auto 10px;
  text-decoration: none !important;
}
.btnBar {
  height: 37px;
  border-style: none;
  background-color: inherit;
  color: white;
  font-size: 20px;
}
.middle {

  margin: 180px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}
.textCenter {
  text-align: center;
}
.left, .right{
  width: 50%;
  margin: auto 60px;;
}
.right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fontBig {
  font-size: 32px;
}
.signUp>input {
  color: white;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  padding-left: 20px;
  width: 100%;
  height: 32px;
  border: 1px solid;
  border-bottom-style: none;
  background: transparent;

  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.signUp>button {
  color: white;
  width: 100%;
  height: 32px;
  padding: 0;
  margin: 0;
  border: 1px solid;
  background: transparent;

}

button:hover{
  cursor: pointer;
}
.btnPinter{
  cursor: pointer;
}
.mb-2 {
  margin-bottom: 20px;
}
.mt-2 {
  margin-top: 20px;
}
.bottom {
  font-size: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media only screen and (max-width: 767px) {
    /* phones */
    .middle{
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 20px auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .fontBig {
      font-size: 15px;
    }
    .fontNormal {
      font-size: 11px;
    }
    .bottom {
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .bottom > div{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-item-align: center;
          align-self: center;
    }
    div#menuToggle {
      margin-top: 38px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
    }
    footer {
      margin-bottom: 10px;
    }
}
